/**
 * Graphite Dark
 **/

* {
    background:     #e8e8e8;
    background-alt: #1a1a1a;
    foreground:     #1a1a1a;
    selected:       #60DD2Aff;
    selected-text:  #e8e8e8;
    active:         #3aaa10ff;
    urgent:         #f28b82;
}
